<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"  
        id="com.exmachina.tts"
        version="1.0.2">

    <name>TTS</name>
    <description>TTS PLUGIN</description>
    <license>MIT</license>
    
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    
    <js-module src="www/tts.js" name="tts">
     
    </js-module>
    
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            
            <feature name="ttsCall">
                <param name="android-package" value="com.exmachina.tts.ttsCall" />
            </feature>
                   
        </config-file>

        <source-file src="src/android/com/exmachina/tts/ttsPLUGIN.java" target-dir="src/com/exmachina/tts" />
    </platform>

</plugin>

