<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="org.apache.pluginTTS.ttsPLUGIN"
        version="1.0.2">

    <name>TTS</name>
    <description>TTS PLUGIN</description>
    <license>MIT</license>
    <js-module src="www/tts.js" name="tts">
        <clobbers target="tts" />
    </js-module>
    
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            
            <feature name="tts">
                <param name="android-package" value="org.apache.pluginTTS.ttsPLUGIN" />
            </feature>
            
       
        </config-file>

        <source-file src="src/android/ttsPLUGIN.java" target-dir="src/android/pluginTTS" />
    </platform>

</plugin>

